<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <div class="form-wrapper">
            <form id="login-form" method ="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" id="id_email" required>
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>

